<div>
  {{x-iframe src="/client-server-one" style="width: 500px; height: 500px;" target="target-1"}}
  {{x-iframe src="/client-server-two" style="width: 500px; height: 500px;" target="target-2"}}
</div>

<h4>Got server query: {{model}}</h4>

<button {{action 'askTarget1'}}>Target-1 - What is your name?</button>
<button {{action 'openPopup'}}>Popup (new window) example</button>

{{#if popup}}
  <button {{action 'askPopup'}}>Popup - What is your name?</button>
{{/if}}
