<div>
  <XIframe
    src={{this.clientServerOneSrc}}
    @target='target-1'
  />
  <XIframe
    src={{this.clientServerTwoSrc}}
    @target='target-2'
  />
</div>

<h4>Got server query: {{this.model}}</h4>

<button type="button" {{on "click" this.askTarget1}}>Target-1 - What is your name?</button>
<button type="button" {{on "click" this.openPopup}}>Popup (new window) example</button>

{{#if this.popup}}
  <button type="button" {{on "click" this.askPopup}}>Popup - What is your name?</button>
{{/if}}